h1{
    color: var(--tot-c);
}
/* .bg-page{
    background-color:;
} */

:root {
    --tot-c: #050A30;
    --main-c: #000c66eb;
    --sec-c: #0000FF;
    --acc-c: #7EC8E3;
  }

  .bg-nav{
    background-color: var(--main-c);

  }

  .bg-form{
    background-color:var(--acc-c);
  }

