@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Noto+Serif:wght@400;700&display=swap');

.text-pr{
  font-family: 'Noto Serif', serif;
}
.text-sec{
  font-family: 'Lato', sans-serif;
}

h1{
    color: var(--tot-c);
}
/* .bg-page{
    background-color:;
} */

:root {
    --tot-c: #050A30;
    --main-c: #000c66eb;
    --sec-c: #0000FF;
    --acc-c: #7EC8E3;
  }

  .bg-nav{
    background-color: var(--main-c);

  }

  .bg-form{
    background-color:var(--acc-c);
  }

  .bg-footer{
    background-color:var(--tot-c);
  }

  .btn-register{
    /* font-family: 'Rajdhani', sans-serif; */
    font-weight: 100;
    font-size: 20px;
    color: var(--sec-c);
    background: none;
    border: 3px solid var(--sec-c);
  }

  .btn-visualizza{
    /* font-family: 'Rajdhani', sans-serif; */
    font-weight: 100;
    font-size: 20px;
    color: var(--tot-c);
    background: none;
    border: 3px solid var(--tot-c);
  }

  .btn-category{
    /* font-family: 'Rajdhani', sans-serif; */
    font-weight: 100;
    font-size: 20px;
    color: green;
    background: none;
    border: 3px solid green;
  }

  .search-input-nav {
    background-color: transparent !important; 
    border-bottom: 2px solid var(--sec-c)  !important;
  }

  .bg-img{
    background-image: url(https://images.unsplash.com/photo-1497005367839-6e852de72767?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1167&q=80);
    background-size: cover;
    background-position: center;
   

  }